.button {
  background: black;
  color: orange;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid orange;
  transition: background-color .2s ease;
}

.button:hover {
  background: #666;
}